@media (max-width: 762px) {
    body {
        height: 100%;
        background: url(../images/bg-pattern-top-mobile.svg)no-repeat top left , url(../images/bg-pattern-bottom-mobile.svg)no-repeat bottom right;   
}
}
@media (max-width: 762px) {
    .top {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 762px) {
    .info h1{
        width: 300px;
        font-size: 40px;
        margin: auto;
    } 
}



@media (max-width: 762px) {
    .info p{
        width: 300px;
        font-size: 15px;
    }
}
@media (max-width: 762px) {
    ul li{
        text-align: center;
        width: 300px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
    }
}
@media (max-width: 762px) {
    ul li p{
        margin-top: 10px;
    }
}

@media (max-width: 762px) {
    .report-guru {
        margin-left: 0px;
    }
}

@media (max-width: 762px) {
    .best-tech{
        margin-left: 0px;
    }
}
@media (max-width: 762px) {
    .comments {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 762px) {
    .comments .colton-comment{
        width: 300px;
        padding: 6%;
    }
}
@media (max-width: 762px) {
    .comments .irene-comment{
        width: 300px;
        padding: 6%;
    }
}

@media (max-width: 762px) {
    .comments .anne-comment{
        width: 300px;
        padding: 6%;
    }
}